
DATABASE_URL=postgresql://neondb_owner:npg_raFvS7ZCVu9i@ep-floral-shadow-agxdahj4-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_URL_TEST=postgresql://neondb_owner:npg_raFvS7ZCVu9i@ep-floral-shadow-agxdahj4-pooler.c-2.eu-central-1.aws.neon.tech/test_db?sslmode=require&channel_binding=require

APP_ENV=dev
APP_PORT=8000
LOG_LEVEL=INFO


# ==========================================
# 🤖 CLÉS API (optionnel)
# ==========================================
# Si votre projet utilise une API externe (ex : OpenAI, HuggingFace, etc.),
# vous pouvez définir vos clés ici :
# OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx


#plus qu'à executer "cp .env.example .env" dans le terminal
#puis tester l'acces a la bdd avec "python -m src.Database.init_db"
